<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mdao.IApprovalMapper">
    <resultMap id="approvalResult" type="com.study.pojo.Approval">
        <id property="apid" column="apid"/>
        <result property="result" column="result"/>
        <result property="opinion" column="opinion"/>
        <result property="sdate" column="sdate"/>
    </resultMap>


</mapper>
