<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace 命名空间—— mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mdao.IContractMapper">
    <!--查询采购总金额-->
    <select id="selectCgMoney" resultType="java.lang.Integer">
        select sum(cmoney) from contract where empno=#{empno} and ctype=1 and cstate!=0
    </select>

    <!--查询进行中采购总金额-->
    <select id="selectCgMoneyNow" resultType="java.lang.Integer">
        select sum(cmoney) from contract where empno=#{empno} and ctype=1 and cstate=1
    </select>

    <!--查询已完成采购总金额-->
    <select id="selectCgMoneyEnd" resultType="java.lang.Integer">
        select sum(cmoney) from contract where empno=#{empno} and ctype=1 and cstate=2
    </select>

    <resultMap id="contract" type="com.study.vo.contractlist">
        <id column="cid" property="cid"/>
        <result column="ctitle" property="ctitle"/>
        <result column="cbody" property="cbody"/>
        <result column="cnumber" property="cnumber"/>
        <result column="cmoney" property="cmoney"/>
        <result column="ctype" property="ctype"/>
        <result column="cday" property="cday"/>
        <result column="cstate" property="cstate"/>
        <association property="money" javaType="java.lang.Integer" column="{cid=cid}" select="selectFkmoney">
        </association>
    </resultMap>
    
    <!--查询我的所有合同-->
    <select id="selectCgAll" resultMap="contract">
       select * from contract where empno=#{empno} and ctype=1 and cstate!=0
    </select>

    <!--查询合同已付款金额-->
    <select id="selectFkmoney" resultType="java.lang.Integer">
       select sum(pmmoney) as money from payment where cid=#{cid}
    </select>

    <!--多条件模糊查询-->
    <select id="selectCgBylike" resultMap="contract">
        select * from contract
        <where>
            <if test="ctitle!=null">
                and ctitle like concat('%', #{ctitle}, '%')
            </if>
            <if test="cnumber!=null">
                and cnumber like concat('%', #{cnumber}, '%')
            </if>
            <if test="cstate!=null">
                and cstate = #{cstate}
            </if>
            and empno=#{empno} and ctype=1 and cstate!=0
        </where>
    </select>

    <!--查询产品信息-->
    <select id="selectAllPr" resultType="Productcg">
        select * from productcg
    </select>

    <!--新增合同表-->
    <insert id="insertContract" parameterType="com.study.pojo.Contract" useGeneratedKeys="true" keyProperty="cid"  keyColumn="cid">
        insert into contract values(#{con.cid},#{con.myemp.empno},#{con.ctitle},#{con.cbody},#{con.cnumber},#{con.cmoney},#{con.ctype},#{con.cday},#{con.cstate})
    </insert>

    <!--查询新增的主键-->
    <select id="selectCid" resultType="com.study.pojo.Contract">
        select * from contract where cid=(select max(cid) from contract)
    </select>

    <!--新增客户表-->
    <insert id="insertSupplier">
        insert into supplier values (#{s.sid},#{s.sname},#{s.rank},#{s.opening},#{s.sman},#{s.sphone},#{s.mycontract.cid})
    </insert>

    <!--新增详情表-->
    <insert id="insertPurchaseinfo">
        insert into purchaseinfo values(#{p.prid},#{p.mycontract.cid},#{p.myproductcg.pcid},#{p.pnum})
    </insert>
</mapper>