<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mdao.IEmpMapper">
    <resultMap id="empresult" type="com.study.pojo.Emp">
        <id property="empno" column="empno"/>
        <result property="ename" column="ename"/>
        <result property="ephone" column="ephone"/>
        <result property="sex" column="sex"/>
        <result property="mgr" column="mgr"/>
        <result property="sal" column="sal"/>
        <result property="state" column="state"/>
        <result property="ofday" column="ofday"/>

        <association property="mydept" javaType="com.study.pojo.Dept">
            <id property="deptno" column="deptno"/>
            <result property="dname" column="dname"/>
            <result property="loc" column="loc"/>
        </association>

        <association property="myjobmsg" javaType="com.study.pojo.Jobmsg">
            <id property="jmid" column="jmid"/>
            <result property="jmname" column="jmname"/>
            <association property="myjob" javaType="com.study.pojo.Job">
                <id property="jid" column="jid"/>
                <result property="jname" column="jname"/>
            </association>
        </association>

        <association property="mypersonal" javaType="com.study.pojo.Personal">
            <id property="pid" column="pid"/>
            <result property="pimg" column="pimg"/>
            <result property="speciality" column="speciality"/>
            <result property="plike" column="plike"/>
            <result property="mail" column="mail"/>
            <result property="birthday" column="birthday"/>
            <result property="patent" column="patent"/>
            <result property="natives" column="natives"/>
            <result property="idcard" column="idcard"/>
            <result property="marital" column="marital"/>
            <result property="politics" column="politics"/>
            <result property="education" column="education"/>
            <result property="password" column="password"/>
            <result property="cardimg" column="cardimg"/>
        </association>

        <association property="myempconract" javaType="com.study.pojo.Empconract">
            <id property="ecid" column="ecid"/>
            <result property="ecman" column="ecman"/>
            <result property="ectitle" column="ectitle"/>
            <result property="startday" column="startday"/>
            <result property="expirday" column="expirday"/>
            <result property="state" column="state"/>
        </association>
    </resultMap>

    <select id="selectall" resultMap="empresult">
       SELECT * FROM emp e
        left JOIN jobmsg j on e.jmid=j.jmid
        left JOIN job b on j.jid=b.jid
        left JOIN dept d on b.deptno=d.deptno
        left JOIN personal s ON s.empno=e.empno
        order by e.empno desc
    </select>

    <select id="selectByeid" resultMap="empresult">
        SELECT * FROM emp e
                  left JOIN jobmsg j on e.jmid=j.jmid
                  left JOIN job b on j.jid=b.jid
                  left JOIN dept d on b.deptno=d.deptno
                  left JOIN personal s ON s.empno=e.empno
        where e.empno=#{empno}
    </select>

    <insert id="insert" parameterType="com.study.pojo.Emp">
        insert into emp(ename,ephone,sex,mgr,sal,state,ofday,deptno,jmid)
        values (#{ename},#{ephone},#{sex},#{mgr},#{sal},#{state},#{ofday},
        #{mydept.deptno,jdbcType=INTEGER},#{myjobmsg.jmid,jdbcType=INTEGER})
    </insert>

    <select id="selectmohu" resultMap="empresult">
         SELECT * FROM emp e
        left JOIN jobmsg j on e.jmid=j.jmid
        left JOIN job b on j.jid=b.jid
        left JOIN dept d on b.deptno=d.deptno
        left JOIN personal s ON s.empno=e.empno where 1=1
        <if test="ename!=null">
            and e.ename like concat('%',#{ename,jdbcType=VARCHAR},'%')
        </if>
        <if test="ephone!=null">
            and e.ephone like concat('%',#{ephone,jdbcType=VARCHAR},'%')
        </if>
        <if test="sex!=null">
            and e.sex like concat('%',#{sex,jdbcType=VARCHAR},'%')
        </if>
        <if test="time1 != null and time1 != '' ">
            and e.ofday &gt; #{time1}
        </if>
        <if test="time2 != null and time2 != '' ">
            and e.ofday &lt; #{time2}
        </if>
    </select>

    <select id="leavesGetEmp" resultMap="empresult">
        SELECT * FROM emp
        WHERE empno = #{empno}
    </select>



    <select id="selectstate" resultMap="empresult">
        SELECT * FROM emp e
          left join jobmsg j on e.jmid=j.jmid
          left JOIN job b on j.jid=b.jid
          left JOIN dept d on b.deptno=d.deptno
          left JOIN personal s ON s.empno=e.empno
          where e.state=1 order by e.empno desc
    </select>

    <update id="update" parameterType="com.study.pojo.Emp">
        update emp set state=2 where empno=#{empno}
    </update>

    <select id="selectid" resultType="java.lang.Integer">
         Select  * from emp e order by e.empno desc limit 1
    </select>

    <update id="updatestate" parameterType="com.study.pojo.Emp">
        update emp set state=4 where empno=#{empno}
    </update>

    <update id="updatelizhi" parameterType="com.study.pojo.Emp">
        update emp set state=5 where empno=#{empno}
    </update>

    <select id="getEmpDetail" resultMap="empresult">
        SELECT e.*,d.*
        FROM emp e
        INNER JOIN dept d ON d.deptno = e.deptno
        WHERE e.empno = #{empno}
    </select>
</mapper>
