<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mdao.ITmHuiYiMapper">

    <resultMap id="ygg" type="com.study.pojo.Huiyirenyuan">
        <id column="ehid" property="ehid"/>
        <association property="xian" javaType="com.study.pojo.Xiangqing">
            <id property="hydzid" column="hydzid"/>
            <result column="hyrw" property="hyrw"/>
            <result property="kaishitimedate" column="kaishitimedate"/>
            <result column="jieshutime" property="jieshutime"/>
            <result property="neirong" column="neirong"/>
            <result property="hyleixi" column="hyleixi"/>
        </association>
        <association property="empsss" javaType="com.study.pojo.Emp">
            <id property="empno" column="empno"/>
            <result column="ename" property="ename"/>
            <association property="myjobmsg" javaType="com.study.pojo.Jobmsg">
                <id property="jmid" column="jmid"/>
                <result column="jmname" property="jmname"/>
            </association>
            <association property="mydept" javaType="com.study.pojo.Dept">
                <id property="deptno" column="deptno"/>
                <result property="dname" column="dname"/>
            </association>
        </association>
    </resultMap>
    <select id="selecyg" resultMap="ygg">
        select * from huiyirenyuan h left join  xiangqing x on x.hydzid=h.hydzid left join emp e on e.empno=h.empno left join jobmsg j on j.jmid=e.jmid left join dept d on d.deptno=e.deptno where x.hydzid=#{hydzid}
    </select>
</mapper>