<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mdao.ITmHuiYiMapper">

    <resultMap id="dz" type="com.study.pojo.Xiangqing">
        <id property="hydzid" column="hydzid"/>
        <result column="hyrw" property="hyrw"/>
        <result property="kaishitimedate" column="kaishitimedate"/>
        <result column="jieshutime" property="jieshutime"/>
        <result property="neirong" column="neirong"/>
        <result property="hyleixi" column="hyleixi"/>
        <association property="mydizhi" javaType="com.study.pojo.Dizhi">
            <id property="dzid" column="dzid"/>
            <result column="leixingname" property="leixingname"/>
            <result property="hyzt" column="hyzt"/>
        </association>
        <association property="myshiyong" javaType="com.study.pojo.Shiyong">
            <id property="xqid" column="xqid"/>
            <result column="zt" property="zt"/>
        </association>
        <association property="ese" javaType="com.study.pojo.Emp">
            <id property="empno" column="empno"/>
            <result column="ename" property="ename"/>
        </association>

    </resultMap>
    <select id="selecxq"  resultMap="dz">
        SELECT * FROM xiangqing x  left join dizhi d on x.dzid=d.dzid left join shiyong s on s.hydzid=x.hydzid left join emp e on e.empno=x.empid
    </select>

    <insert id="tjdz">
        INSERT INTO dizhi VALUES(null,#{i.leixingname},#{i.hyzt})
    </insert>

    <insert id="huiyitian">
        insert INTO xiangqing VALUES(null,#{x.mydizhi.dzid},#{x.hyrw},#{x.kaishitimedate},#{x.jieshutime},#{x.neirong},#{x.ese.empno},#{x.hyleixi})
    </insert>
    <update id="xiugaidz">
        update dizhi SET  hyzt=2 where dzid=#{dzid}
    </update>
    <insert id="yuangongtian">
        insert  into huiyirenyuan values (#{y.empsss.empno},#{y.xian.hydzid},null)

    </insert>
    <select id="cxid" resultType="com.study.pojo.Xiangqing">
        select * from xiangqing WHERE hydzid=(select max(hydzid) from xiangqing)
    </select>

    <insert id="shiyong">
        insert into  shiyong values (null,#{v.myxiangqing.hydzid},#{v.zt})
    </insert>

    <insert id="shenpi">
        insert into  backlog values (null,#{s.btetle},#{s.bianhao},#{s.bcondition},#{s.baccept},#{s.empid})
    </insert>

    <select id="mohu" resultMap="dz">
         SELECT * FROM xiangqing x  left join dizhi d on x.dzid=d.dzid left join shiyong s on s.hydzid=x.hydzid left join emp e on e.empno=x.empid
        <where>
            <if test="empname!=null and  hyname==null " >
                and e.ename like concat ('%',#{empname},'%')
            </if>
            <if test="empname==null and  hyname!=null " >
                and d.leixingname like concat ('%',#{hyname},'%')
            </if>
            <if test="empname!=null and  hyname!=null " >
                and d.leixingname like concat ('%',#{hyname},'%') and e.ename like concat ('%',#{empname},'%')
            </if>

        </where>
    </select>
</mapper>