<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mdao.IpositiveMapper">
    <resultMap id="positiveResult" type="com.study.pojo.Positive">
        <id property="pvid" column="pvid"/>
        <result property="pdate" column="pdate"/>
        <result property="prequire" column="prequire"/>
        <result property="ptitle" column="ptitle"/>
        <association property="myemp" javaType="com.study.pojo.Emp">
            <id property="empno" column="empno"/>
            <result property="ename" column="ename"/>
            <result property="ephone" column="ephone"/>
            <result property="sex" column="sex"/>
            <result property="mgr" column="mgr"/>
            <result property="sal" column="sal"/>
            <result property="state" column="state"/>
            <result property="ofday" column="ofday"/>
        </association>
    </resultMap>

    <insert id="insert" parameterType="com.study.pojo.Positive">
         insert into positive(pdate,prequire,ptitle,empno)
        values (#{pdate},#{prequire},#{ptitle},
        #{myemp.empno,jdbcType=INTEGER})
    </insert>

    <select id="selectmax" resultType="java.lang.Integer">
        select max(pvid) from positive
    </select>


</mapper>