<?xml version="1.0" encoding="UTF-8"?>
<!-- namespace 命名空间—— mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.model.mdao.IPropertyMapper">
    <!--我的资产表-->
    <resultMap id="IProperty" type="Property">
        <id property="cpid" column="cpid"/>
        <result property="pserial" column="pserial"/>
        <result property="pname" column="pname"/>
        <result property="pstate" column="pstate"/>
        <result property="pquantity" column="pquantity"/>
        <result property="punits" column="punits"/>
        <result property="pstorage" column="pstorage"/>
        <result property="pget" column="pget"/>
        <result property="pvalue" column="pvalue"/>
        <result property="premark" column="premark"/>
        <!--员工表-->
        <association property="myemp" javaType="Emp">
            <id property="empno" column="empno"/>
            <result property="ename" column="ename"/>
            <result property="ephone" column="ephone"/>
            <result property="sex" column="sex"/>
            <result property="mgr" column="mgr"/>
            <result property="sal" column="sal"/>
            <result property="state" column="state"/>
            <result property="ofday" column="ofday"/>
            <!--部门表-->
            <collection property="mydept" ofType="Dept">
                <id column="deptno" property="deptno"/>
                <result column="dname" property="dname"/>
                <result column="loc" property="loc"/>
            </collection>
        </association>
        <!--资产表-->
        <association property="myasset" javaType="Asset">
            <result property="atname" column="atname"/>
            <result property="atmodel" column="atmodel"/>
            <result property="atnum" column="atnum"/>
            <result property="atstate" column="atstate"/>
            <result property="aunits" column="aunits"/>
            <result property="astorage" column="astorage"/>
            <result property="price" column="price"/>
            <!--资产类别表-->
            <collection property="myassets" ofType="Assets">
                <id property="aid" column="aid"/>
                <result property="aserial" column="aserial"/>
                <result property="aname" column="aname"/>
                <result property="amodel" column="amodel"/>
                <result property="agroup" column="agroup"/>
            </collection>
        </association>
    </resultMap>

    <resultMap id="PropertyResult" type="com.study.vo.PropertyVo">
        <id property="cpid" column="cpid"/>
        <result property="pserial" column="pserial"/>
        <result property="pname" column="pname"/>
        <result property="pstate" column="pstate"/>
        <result property="pquantity" column="pquantity"/>
        <result property="punits" column="punits"/>
        <result property="pstorage" column="pstorage"/>
        <result property="pget" column="pget"/>
        <result property="pvalue" column="pvalue"/>
        <result property="premark" column="premark"/>
    </resultMap>

    <!--查询我的资产全部信息-->
    <select id="selectPropertyAll" resultMap="IProperty">
        select pr.* from property pr
        left join emp e on pr.empno=e.empno
        left join dept d on e.deptno=d.deptno
        left join asset a on pr.atid=a.atid
        left join assets ass on a.aid=ass.aid
        where pr.empno=#{empno}
    </select>



    <!--新增我的资产表-->
    <insert id="insertProperty" parameterType="com.study.vo.PropertyVo" >
        <selectKey keyColumn="cpid" keyProperty="cpid" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        insert into property(empno,pserial,pname,pstate,pquantity,punits,pstorage,pget,pvalue,premark)
        values(#{property.empno},#{property.pserial},#{property.pname},'待办',#{property.pquantity},#{property.punits}
        ,#{property.pstorage},#{property.pget},#{property.pvalue},#{property.premark})
    </insert>
   <!-- <insert id="insertProperty" parameterType="com.study.vo.PropertyVo" useGeneratedKeys="true" keyProperty="cpid" keyColumn="cpid">
        insert into property
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pserial != null and pserial != ''">
                pserial,
            </if>
            <if test="pname != null and pname != ''">
                pname,
            </if>
            <if test="pstate != null and pstate != ''">
                pstate,
            </if>
            <if test="pquantity != null">
                pquantity,
            </if>
            <if test="punits != null and punits != ''">
                punits,
            </if>
            <if test="pstorage != null">
                pstorage,
            </if>
            <if test="pget != null">
                pget,
            </if>
            <if test="pvalue != null and pvalue != ''">
                pvalue,
            </if>
            <if test="premark != null and premark != ''">
                premark,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="pserial != null and pserial != ''">
                #{pserial},
            </if>
            <if test="pname != null and pname != ''">
                #{pname},
            </if>
            <if test="pstate != null and pstate != ''">
                #{pstate},
            </if>
            <if test="pquantity != null">
                #{pquantity},
            </if>
            <if test="punits != null and punits != ''">
                #{punits},
            </if>
            <if test="pstorage != null">
                #{pstorage},
            </if>
            <if test="pget != null">
                #{pget},
            </if>
            <if test="pvalue != null and pvalue != ''">
                #{pvalue},
            </if>
            <if test="premark != null and premark != ''">
                #{premark},
            </if>
        </trim>
    </insert>-->


    <!--查询主键新增id-->
    <select id="selectCpid" resultType="java.lang.Integer">
        select max(cpid) from property
    </select>
    <!--高级查询我的资产根据 名称 领取日期 价格来查询-->
    <select id="selectsProperty" resultMap="IProperty">
        select * from property pr
        left join emp e on pr.empno=e.empno
        left join dept d on e.deptno=d.deptno
        left join asset a on pr.atid=a.atid
        left join assets ass on a.aid=ass.aid

        <where>
            <if test="pname!=null">
                and pname like concat('%',#{pname},'%')
            </if>
            <if test="pget!=null">
                and pget like concat('%',#{pget},'%')
            </if>
            <if test="pvalue!=null">
                and pvalue like concat('%',#{pvalue},'%')
            </if>
        </where>
    </select>

    <select id="selectAllId" resultMap="PropertyResult">
        SELECT * FROM property
    </select>
</mapper>